@define-mixin atXSmall {
  @media (min-width: 320px) {
    @mixin-content;
  }
}

@define-mixin atSmall {
  @media (min-width: 480px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}